.about-container {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 860px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 16px;
}

.text-container {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    margin-right: 50px;
}

.about-title {
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: #f4ce14;
    margin-top: 0;
}

.about-subtitle {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-top: 0;
}

.about-description {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    max-width: 276px;
    margin-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: fit-content;
    /* Allows images to overlap */
}

.image1,
.image2 {
    width: 100%;
    /* Set consistent width for the images */
    height: auto;
    border-radius: 16px;
    transition: transform 0.3s ease;
    /* Optional: Add a smooth effect */
}

.image1 {
    z-index: 1;
    padding-left: 180px;
    /* Bring the first image in front */
}

.image2 {
    padding-right: 100px;
    margin-top: -50px;
    /* Use a negative margin to create overlap */
    z-index: 0;
    /* Place the second image slightly behind */
}