.footer-container {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content:center;
    padding: 40px 80px;
    background-color: #546d64;
    color: #ffffff;
    margin: 0;
    gap: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo-container img {
    width: 210px;
    height: auto;
}

.navigation-section,
.contact-section,
.social-media-section {
    max-width: 200px;
}

.header {
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #f4ce14;
    margin-bottom: 16px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24.2px;
    margin-bottom: 16px;
}

.social-media-section img {
    margin-right: 8px;
    vertical-align: middle;
}