.testimonials-container {
    padding-top: 70px;
    padding-bottom: 130px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    background-color: #546d64;
}

.testimonials-title {
    font-family: 'Markazi Text', serif;
    font-weight: 600;
    font-size: 64px;
    color: #f4ce14;
    margin-bottom: 140px;
}

.testimonials-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 16px;
    width: 200px;
    height: 166.88px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonial-rating {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.testimonial-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding-top: 5px;
}

.testimonial-rating img {
    margin-left: 10px;
}

.testimonial-name {
    font-family: 'Karla';
    font-style: normal;
    line-height: 19px;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    text-align: left;
    padding-right: 40px;
}

.testimonial-quote {
    font-family: 'Karla';
    line-height: 125%;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #333333;
    margin-top: 20px;
}

.testimonial-image {
    padding-right: 10px;
    border-radius: 4%;
    margin-bottom: 12px;
    width: 52px;
}